<div class="assignment1">
  <div class="alert alert-info">Follow the steps:</div>
  <ul class="list-group">
    <li class="list-group-item">Create an input of type "text"</li>
    <li class="list-group-item">Attach a template reference variable to the input</li>
    <li class="list-group-item">Attach an "input" event passing in the value of textbox to the handler</li>
    <li class="list-group-item">Create handler in the component's class</li>
    <li class="list-group-item">Display the result on the page via string interpolation</li>
  </ul>
  <div class="container code">
    <div class="field with input-container">
      <input class="form-control" type="text" placeholder="Enter your text here" #inputText (input) = ShowInputText(inputText)>
    </div>
    <h3 class="input-container">{{inputTxt}}</h3>
  </div>
</div>
